<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles/overflow.css" />
  </head>
  <body>
    <div class="box">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore nisi
        fugit cupiditate architecto dolores commodi quibusdam quisquam, labore
        ipsum quo?
      </p>
    </div>
  </body>
</html>

<!-- 
- You can use the overflow property to decide the behavior when overflow
  happends.
  (overflow, overflow-x, overflow-y)
- show scroll only when there is extra happens.
  auto hidden
-->
