<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles/positioning.css" />
  </head>
  <body>
    <div class="boxes">
      <div class="box box-one"></div>
      <div class="box box-two"></div>
      <div class="box box-three"></div>
    </div>
  </body>
</html>

<!-- 
- Default of position is static. change this to relative.
  - left: -4rem 과 right 4rem이 같다.
  - z-index: the depth +(moves close to us) -(moves away from us)
  - when an element is postioned absolute, it is removed from the normal flow of the page.
    as if absolute position does not exist
  - using absolute you can position an element relative to a container
    - The parent container should be set to position: relative.
  
  - Relative to viewport
    - change to fixed.
