<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles/queries.css" />
  </head>
  <body>
    <div class="container">
      <div class="box">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas
          ipsam quidem error officiis. Earum voluptatem itaque, harum voluptatum
          assumenda officia pariatur debitis eum iure vitae, tenetur quisquam
          quae saepe culpa?
        </p>
      </div>
      <div class="box">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit vel
          labore tempora animi? Commodi eaque corrupti error. Facere corrupti
          eveniet perspiciatis delectus, sapiente eaque voluptas ullam
          temporibus suscipit, nihil placeat.
        </p>
      </div>
    </div>
  </body>
</html>

<!-- 
  Media Queries;
    To provide different styles for diffrent devices
    depending on their features.
  
  Developers usually build mobile first
    - It is easy to build a smaller sized web-page first.
-->
